<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>
  Get help on the Rails on Docker Tutorial at the
  <a href="http://www.railsondocker.org/help">Rails on Docker Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://www.railsondocker.org/book"><em>Rails on Docker Tutorial</em>
    book</a>.
</p>